{% load i18n admin_urls jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}
{% load static %}
{% block submit-row %}

<div>
    {% if show_save %}
        <div class="form-group">
            <input type="submit" value="{% trans 'Save' %}" class="btn {{ jazzmin_ui.button_classes.success }} form-control" name="_save">
        </div>
    {% endif %}
    {% if show_delete_link and original %}
        <div class="form-group">
            {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
            <a href="{% add_preserved_filters delete_url %}" class="btn {{ jazzmin_ui.button_classes.danger }} form-control">{% trans "Delete" %}</a>
        </div>
    {% endif %}
    {% if show_save_as_new %}
        <div class="form-group">
            <input type="submit" class="btn {{ jazzmin_ui.button_classes.info }} form-control" value="{% trans 'Save as new' %}" name="_saveasnew">
        </div>
    {% endif %}
    {% if show_save_and_add_another %}
        <div class="form-group">
            <input type="submit" class="btn {{ jazzmin_ui.button_classes.info }} form-control" value="{% trans 'Save and add another' %}" name="_addanother">
        </div>
    {% endif %}
    {% if show_save_and_continue %}
        <div class="form-group">
            <input type="submit" class="btn {{ jazzmin_ui.button_classes.info }} form-control" value="{% if can_change %}{% trans 'Save and continue editing' %}{% else %}{% trans 'Save and view' %}{% endif %}" name="_continue">
        </div>
    {% endif %}
    {% if custom_button %}

    <div class="form-group">
        <button type="submit" id="print-button" class="btn {{ jazzmin_ui.button_classes.primary }} form-control" data-value="valor">
            {% translate 'Escanear huella digital' %}
        </button>
    <div class="form-group">
    {% endif %}

    {% if show_copy_button %}
    <div class="form-group">
        <label for="{{ adminform.form.dni.id_for_label }}">Dispositivo a leer huella:</label>
        <select name="dispositivos-lectores" id="dispositivos-lectores">
            {% for value, label in adminform.form.dni.field.choices %}
                <option value="{{ value }}">{{ label }}</option>
            {% endfor %}
        </select>
    </div>
    {% endif %}
    
    {% if show_close %}
        <div class="form-group">
            <a href="{% url opts|admin_urlname:'changelist' %}" class="btn {{ jazzmin_ui.button_classes.danger }} form-control">{% trans 'Close' %}</a>
        </div>
    {% endif %}

    <style>
        #messages-list {
            height: 200px;
            overflow: hidden;
            resize: none; 
            width: 100%; 
        }
    </style>

    {% if show_copy_button %}
        <div class="form-group">
            <button id="copy-button" class="btn {{ jazzmin_ui.button_classes.info }} form-control">Copiar</button>
        </div>
        <div class="form-group">
            <button type="submit" id="qr-button" class="btn {{ jazzmin_ui.button_classes.primary }} form-control" data-value="qr">Generar código tarjeta</button>
        </div>
    {% endif %}

    {% block extra-actions %}{% endblock %}

</div>
{% endblock %}

<script src="{% static 'custom/jquery-3.6.4.min.js' %}"></script>

<script>

function fade_alerts() {
    alerts = document.getElementsByClassName("alert msg");
        var i = alerts.length;
        for (let elem of alerts) {
            i--;
            time = 3250+(1000*i);
            setTimeout(function() {
                $(elem).fadeOut("slow");
            }, time);
        }
}

    $(document).ready(function() {
        $('#print-button').click(function(event) {
            event.preventDefault(); 

            var device = $('#dispositivos-lectores').val();
            var url = 'get_fingerprint/';
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    'dispositivos-lectores': device,
                    'csrfmiddlewaretoken': csrf_token
                },
                success: function(data) {
                    $('#id_fingerprint').val(data.msg);
                    fade_alerts();
                },
                error: function(xhr, status, error) {
                    console.error(error);  
                }
            });
        });
        $('#qr-button').click(function(event) {
            event.preventDefault(); 

            var url = 'get_qrcode/';
            var csrf_token = $('input[name="csrfmiddlewaretoken"]').val();

            $.ajax({
                url: url,
                type: 'POST',
                data: {
                    'csrfmiddlewaretoken': csrf_token
                },
                success: function(data) {
                    $('#id_card').val(data.codecard);
                    fade_alerts();
                },
                error: function(xhr, status, error) {
                    console.error(error);  
                }
            });
        });
    });

        document.getElementById("copy-button").addEventListener("click", function() {
            var textarea = document.getElementById("messages-list");
            textarea.select();

            try {
                event.preventDefault(); 
                document.execCommand("copy");
            } catch (err) {
                console.error("No se pudo copiar al portapapeles: ", err);
            }
        });
</script>
